extends /config/template
append config
  -pageTitle = '105pe'
  -pageDescription = '105pe'
  -pageImage = ''

block main
  .container.pt-container
    h3 Lista de los 105 congresitas que votaron a favor de la bacancia del presidente Martin Vizcarra
    h4 ¡jamas los olvidemos!

    include /components/congressmen-table
